<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<log4net>
		<appender name="MonitoringServerService" type="log4net.Appender.RollingFileAppender">
			<file value="MonitoringServer.log" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{dd/MM/yyyy HH:mm:ss} %level - %message%newline" />
			</layout>
		</appender>
		<appender name="ConsoleMonitoringServerService" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="Header" value="[Header]\r\n" />
				<param name="Footer" value="[Footer]\r\n" />
				<param name="ConversionPattern" value="%d  %-5p  %m%n" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="MonitoringServerService" />
			<appender-ref ref="ConsoleMonitoringServerService" />
		</root>
	</log4net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>
	<appSettings>
		<!--WebServer-->
		<add key="LocalIpAddress" value="192.168.54.71"/>
		<add key="ServerPort" value="8080"/>
		<add key="MaxNOfConnection" value="50"/> <!--Максимальное количество одновременных подключений.-->
		<add key="ServerTimeOut" value="8"/><!--Максимальное время ожидания подключения-->
		<!--IVRStatus-->
		<add key="ivrTimeOut" value="1" />  <!--seconds-->
		<add key="saveDataTimeout" value="20"/> <!--savedatatimeout помноженое на ivrTimeOut-->
		<add key="getIvrLineStatus" value="SELECT [Channel],[IVRID],[OpTime],[Operation],[CallType],[IVRCallID],[CallStart],[Dir] FROM [TechnoCall].[dbo].[TC_Channels] ORDER BY IVRID" />
		<add key="getIvrTransData" value="SELECT [CT],[TRANSID],[SOURCESYS],[TARGETSYS],[FUNCTIONID],[ENTRYTIME] FROM [TechnoCall].[dbo].[TC_Transact]"/>
		<add key="getIvrWQData" value="SELECT [CallType],[IVRID],[Channel],[QueueTime],[PhoneNumber],[WaitEnd] FROM [TechnoCall].[dbo].[TC_WQueue]"/>
		<add key="firstStart" value="true"/> <!--Сделано для тестирования нужно перенести в сериализацию и читать из dat файла.-->
	</appSettings>
<connectionStrings>
	<add name="TechnoCall" connectionString="Data Source=ccalb2.callcenter.local;Persist Security Info=True;User ID=MonitoringUser;Password=MonitoringUser;Initial Catalog=TechnoCall" />
	<add name="MonitoringServer.Properties.Settings.ccMonitoring" connectionString="Provider=SQLNCLI11;Data Source=192.168.63.149;Persist Security Info=True;Password=MonitoringUser;User ID=MonitoringUser;Initial Catalog=ccMonitoring" providerName="System.Data.OleDb" />
	<add name="TechnoCallEntities" connectionString="metadata=res://*/Data.TechnoCall.csdl|res://*/Data.TechnoCall.ssdl|res://*/Data.TechnoCall.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ccalb2.callcenter.local;initial catalog=TechnoCall;user id=MonitoringUser;Password=MonitoringUser ;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="ccMonitoringEntities" connectionString="metadata=res://*/Data.ccMonitoring.csdl|res://*/Data.ccMonitoring.ssdl|res://*/Data.ccMonitoring.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.63.149;initial catalog=ccMonitoring;persist security info=True;user id=MonitoringUser;password=MonitoringUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>